<style type="text/css">

      .left_col {padding-top: 1em; padding-bottom: 1em; padding-left: 1em; line-height: 150%; white-space:nowrap;}
      .center_col {line-height: 150%;}
      .right_col {line-height: 150%; text-align: justify;}
      .regular-text {font-family: "Times New Roman", Times, serif !important; font-size: 80%;}
      .sub {font-size: 1em;}
      .main {font-family: Georgia, serif; font-size: 18px; font-weight: normal; background: #000; color: #FFF; padding: 4px 10px; margin-left: -10px; margin-right: -10px;}
      ul li a:focus { outline: none; }

</style>
<div style="padding: 0px;">
  <table class="pure-table pure-table-horizontal regular-text" style="width: 100%;">
  <thead>
  <tr>
  <th> Date and Time </th> <th> Speaker </th> <th> Title &amp; Abstract </th>
  </tr>
  </thead>
  <tbody>
      {{ with .Inner }}
      {{ . }}
      {{ end }}
  </tbody>
  </table>
</div>
